Constraints for table

1.Product
   1.a PRIMARY KEY ON ID
   1.b ID SHOULD BE NOT NULL

2.Images
   2.a PRIMARY KEY ON IMAGE ID
   2.b FOREIGN KEY CONSTRAINT ON PRODUCT ID
   2.c ID SHOULD BE NOT NULL

3.User
   3.a PRIMARY KEY USER ID
   3.b USER ID CAN NOT BE NULL

4.Address
   4.a PRIMARY KEY ID
   4.b ID CAN NOT BE NULL
   4.c FOREIGN KEY CONSTRAINT USER ID 

5.Categories
   5.a PRIMARY KEY ID
   5.b ID CAN NOT BE NULL

6.PRODUCT_CATEGORY
   6.a PRIMARY KEY ID 
   6.b PRIMARY KEY CANNOT BE NULL
   6.c FOREIGN KEY PRODUCT_ID
   6.d FOREIGN KEY CATEGORY_ID

7.ADMIN
   7.a PRIMARY KEY ID
   7.b FOREIGN KEY CONSTRAINT USER_ID

8. ORDERITEM
   8.A FOREIGN KEY ORDER_ID
   8.B FOREIGN KEY PRODUCT_ID

9.ORDERS
   9.A PRIMARY KEY ORDER_ID
   9.B PRIMARY CAN NOT BE NULL
   9.C FOREIGN KEY USER_ID
 
