<div class="side ">
    <table class="table table-bordered">
        <thead style="background-color:
        #2190ff
        ;">
            <tr>
                <th scope="col ">
                    All Categories
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    <a class="nav-link active" href="#">Bread</a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <a class="nav-link active" href="#">Dairy</a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <a class="nav-link active" href="#">Fruits</a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <a class="nav-link active" href="#">Spices</a>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <a class="nav-link active" href="#">Vegetables</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>