<div class="grid-container">
    <div class="row p-4">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/kiwi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kiwi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/spinach.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Spinach</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/avocado.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Avocado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row p-4">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/kiwi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kiwi</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/spinach.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Spinach</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/avocado.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Avocado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary form-control">Add to cart</a>
                </div>
            </div>
        </div>

    </div>
</div>